config SHUB_MODULE
    tristate "SHUB module"
    default n

config SHUB_FIRMWARE_DOWNLOAD
    tristate "Sensor hub firmware download"
    default n

config SHUB_AP_STATUS_CMD
    tristate "Sensor hub AP status command"
    default n
    help
      If you say yes, send command to sensor hub when AP suspends or resumes.

config SHUB_SPU
    tristate "Sensor hub SPU firmware download"
    default n
